<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualizar Asignaturas</title>
  <meta name="author" content="JUAN MANUEL VILLALBA RINCON">
  <meta name="description" content="Pagina de actualización asignaturas para el segundo parcial de programación web">

  <!-- mis css -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <!-- links de bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
  <div class="container-fluid contenedor">
    <div class="row">
      <div class="col-md-12 columna">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Lista de Asignaturas
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table class="table table-striped table-bordered">
                  <thead class="table-dark">
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Salon</th>
                      <th>H Entrada</th>
                      <th>H Salida</th>
                      <th>Docente</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="asignatura : ${asignaturas}">
                      <td th:text="${asignatura.id}"></td>
                      <td th:text="${asignatura.nombre}"></td>
                      <td th:text="${asignatura.descripcion}"></td>
                      <td th:text="${asignatura.salon}"></td>
                      <td th:text="${asignatura.hComienzo}"></td>
                      <td th:text="${asignatura.hFinal}"></td>
                      <td th:text="${asignatura.docente.getNombre()}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div th:if=${param.exito}>
          <div class="alert alert-success" role="alert">
            <i class="bi bi-check-circle-fill"></i> Asignatura actualizada correctamente!!
          </div>
        </div>
        <div th:if=${param.error}>
          <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> Datos de la asignatura inválidos!!
          </div>
        </div>
        <form th:action="@{/rector/asignaturas/modificar}" method="post" class="container form-contenedor"
          th:object="${asignatura}">
          <div class="row mb-3">
            <h1>MODIFICAR ASIGNATURAS</h1>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
              <label for="id" class="form-label">Id Asignatura</label>
              <input type="number" id="id" name="id" th:field="*{id}" class="form-control" required autofocus
                placeholder="Id asignatura a modificar">
              <label for="nombre" class="form-label">Nombre asignatura</label>
              <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="form-control" required autofocus
                maxlength="30">
              <label for="descripcion" class="form-label">Descripción</label>
              <input type="text" id="descripcion" class="form-control" required th:field="*{descripcion}"
                maxlength="100">
            </div>
            <div class="col-md-6">
              <label for="salon" class="form-label">Salon</label>
              <input type="number" id="salon" class="form-control" required th:field="*{salon}">
              <label for="entrada" class="form-label">Horario Comienzo</label>
              <input type="number" min="0" max="24" id="entrada" class="form-control" required th:field="*{hComienzo}">
              <label for="salida" class="form-label">Horario Final</label>
              <input type="number" min="0" max="24" id="salida" class="form-control" required th:field="*{hFinal}">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12">
              <label for="docente" class="form-label">Docente encargado</label>
              <select class="form-select" th:field="*{docente}" aria-label="Default select example" required>
			    <option th:each="docente : ${docentes}"
			            th:value="${docente.id}"
			            th:text="${docente.nombre}">
			    </option>
				</select>
            </div>
          </div>


          <div class="row  mb-3">
            <button type="submit" class="btn btn-warning">MODIFICAR ASIGNATURAS</button>
          </div>
          <div class="row">
            <a class="btn btn-dark mt-2" th:href="@{/rector/asignaturas/listar}"><i
                class="bi bi-caret-left-square-fill"></i> Regresar</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>