<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="JUAN MANUEL VILLALBA RINCON">
  <meta name="description" content="Segundo Parcial de Programación web">
  <title>Lista de Asignaturas</title>
  <link rel="stylesheet" th:href="@{/css/lsVehiculos.css}" type="text/css">
  <!-- Bootstrap Links-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 columna">
      <div th:if=${param.eliminado}>
          <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> Vehículo Eliminado exitosamente!!
          </div>
      </div>
        <div class="container mt-5">
          <div class="row">
            <h1>Lista de Asignaturas</h1>
          </div>
          <div class="row  mt-3 mb-3" th:if="${asignaturas!=null or !asignaturas.empty}">
            <table class="table table-striped table-bordered">
              <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Salon</th>
                  <th>H Entrada</th>
                  <th>H Salida</th>
                  <th>Docente</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="asignatura : ${asignaturas}">
                  <td th:text="${asignatura.id}"></td>
                  <td th:text="${asignatura.nombre}"></td>
                  <td th:text="${asignatura.descripcion}"></td>
                  <td th:text="${asignatura.salon}"></td>
                  <td th:text="${asignatura.hComienzo}"></td>
                  <td th:text="${asignatura.hFinal}"></td>
                  <td th:text="${asignatura.docente.getNombre()}"></td>
                  <td>
                    <a th:href="@{/rector/asignaturas/modificar}"><input type="button" class="btn btn-primary"
                        value="Modificar"></a>
                    <a th:href="@{/rector/asignaturas/listar/} + ${asignatura.id}"><input type="button" class="btn btn-danger"
                        value="Eliminar"
                        onclick="if (!confirm('¿Estás seguro de eliminar este registro de Vehículo?')) return false;"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-3 mb-3" th:if="${asignaturas == null or asignaturas.empty}">
            <div class="card col-8 align-items-center text-center">
              <div class="card-body">
                <h1 class="card-title">No hay Asignaturas Registradas</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 columna1">
              <a class="btn btn-success" th:href="@{/}"><i class="bi bi-person-circle"></i> REGRESAR A INICIO</a>
              <a class=" btn btn-warning" th:href="@{/registro}"><i class="bi bi-person-fill-add"></i> REGISTRARTE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>