<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <meta name="author" content="JUAN MANUEL VILLALBA RINCON">
  <meta name="description" content="Pagina de login para parcial No.2">

  <!-- CSS LINKS -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <!-- Bootstrap Links-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
  <div class="container-fluid contenedor">
    <div class="row">
      <div class="col-md-12 columna">
        <div th:if=${param.logout}>
          <div class="alert alert-success" role="alert">
            <i class="bi bi-check-circle-fill"></i> Se ha cerrado sesión correctamente!!
          </div>
        </div>
        <div th:if=${param.error}>
          <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> Usuario o contraseña inválidos!!
          </div>
        </div>
        <form th:action="@{/login}" method="post" class="container form-contenedor">
          <div class="row mb-3">
            <h1>INICIA SESIÓN</h1>
          </div>
          <div class="row mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" id="username" name="username" class="form-control" required autofocus>
          </div>
          <div class="row mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
          <div class="row  mb-3">
            <button type="submit" class="btn btn-primary">INICIAR SESIÓN</button>
          </div>
          <div class="row">
            <span>Si no tienes cuenta <a th:href="@{/registro}">Regístrate</a>.</span>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>